/* base-bgc основний bgc #F5F5F5; */
/* second-bgc heder #FFFFFF */
/* brend-bgc темносинфій кольор #2F303A; */
/* ourteam-bgc наша команда #F5F4FA; */

/* base-tc колір основного тексту #757575 */
/* head-tc колір тексту заголовків #212121 */
/* brend-tc-bgc синій кольор сайту #2196F3 */
/* white-tc колір білого тексту #FFFFFF */
/* contacts-tc колір телефону та ел.адреси rgba(255, 255, 255, 0.6) */

:root{
    --base-bgc:#F5F5F5;
    --second-bgc:#FFFFFF;
    --brend-bgc: #2F303A;
    --ourteam-bgc:#F5F4FA;

    --base-tc: #757575;
    --head-tc:#212121;
    --brend-tc-bgc: #2196F3;
    --white-tc:#FFFFFF;
    --contacts-tc:rgba(255, 255, 255, 0.6);
}
/* прибрав позначки ненумерованих списків */
ul{
list-style: none;
}

body{
font-family: 'Roboto';
font-weight: 400;
font-style: normal;
font-size: 14px;
line-height: 1.7143;
letter-spacing: 0.03em;
color: var(--base-tc);
}

.page-nav{
font-weight: 500;
font-size: 14px;
line-height: 1.1429;
letter-spacing: 0.02em;
}
/* окремий шрифт та розміри для лого */
.nav-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.1923;
letter-spacing: 0.03em;
color: var(--brend-tc-bgc);
text-decoration: none;
}
/*чорний колір частини назви в лого*/
.logo-span{
color: var(--head-tc);
}
/*до навігації прибирання підкреслень тексту 
та базовий чорний колір*/
.page-nav.link{
color: var(--head-tc);
text-decoration: none;
}
/*ховер в навігації*/
.page-nav:hover {
color: var(--brend-tc-bgc);
}
/*акцентний колір кнопки на її активній 
поточній сторінці */
.page-nav.link.current{
color:var(--brend-tc-bgc);
}
/*електронка та телефон в навігації */
.nav-contact{
font-weight: 500;
font-size: 14px;
line-height: 1.1429;
letter-spacing: 0.02em;
font-style: normal;
color: var(--base-tc);
text-decoration: none;
}
/* ховер на електронці та телефоні */
.nav-contact:hover{
  color: var(--brend-tc-bgc);
}
/*секція 1 class=service*/
.service{
color: var(--second-bgc);
}
h1{
font-weight: 900;
font-size: 44px;
line-height: 1.3636;
color: var(--white-tc);
}
/*кнопка*/
.button{
  font-family: 'Roboto';   
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625; 
  cursor: pointer;
  }
  /*кнопка в секції 1 class="service"*/
  .button.primary{
  color: var(--white-tc);
  background-color: var(--brend-tc-bgc);
  border-color: var(--brend-tc-bgc);
  border-radius: 4px;
  }
/*секція 2 class="our-advant"*/
.our-advant{
}

h2{
font-weight: 700; 
font-size: 36px;
line-height: 1.1667;
color: var(--head-tc);
}
  
h3{
font-weight: 700; 
font-size: 14px;
line-height: 1.1429;
color: var(--head-tc);
}
/*секція 3 class="our-occupat"*/
.our-occupat{
}
/*секція 4 class="our-team"*/
.our-team{
background-color:var(--ourteam-bgc);
}
/*шрифт прізвищ в секції наша команда 
class="our-team"*/
h4{
font-weight: 500; 
font-size: 16px;
line-height: 1.1875;
color: var(--head-tc);   
}
/*шрифт назви професії в секції наша команда, 
основні інші характеристики підтягуються з body*/
.profession{
line-height: 1.1429;
}
/*секція контактних даний у footer */
.page-contacts{
font-weight: 400; 
font-size: 14px;
line-height: 1.7143;
background-color: var(--brend-bgc);
color: var(--white-tc);
text-decoration: none;
font-style: normal;
}
/*зміна кольору тексту в лого з синього в класі
class="nav-logo" на білий через span*/
.contacts-logo{
color: var(--white-tc);
}
/*для стилізації елюадреси та телефону у footer*/
.contacts{
line-height: 1.1429;
letter-spacing: 0.03em;
font-style: normal;
color: var(--contacts-tc);
text-decoration: none;
}
.contacts:hover{
color: var(--base-tc)
}


/*секція портфоліо*/
.portfolio{
}
/*перша кнопка в секції Портфоліо*/
.portfolio-button{
font-family: 'Roboto';
font-weight: 500; 
font-size: 16px;
line-height: 1.625;
color:var(--head-tc);
background-color: var(--ourteam-bgc);
border-color: var(--ourteam-bgc);
border-radius: 4px;
}

.portfolio-button:hover{
color:var(--white-tc);
background-color: var(--brend-tc-bgc);
border-color: var(--brend-tc-bgc);
border-radius: 4px;
}




.service-button:focus, .service-button:hover {
  color: green;  
}
